extends layout

block content
  div.container.page
    h1.page__title= title

    ul.page__items
      each item in items
        li.page__item
          a.page__item-link(href=item.name.toLowerCase()) #{item.name}: #{item.num}